/*outra maneira de aplicar fontes, prof do vini recomenda esse*/

/*máximo duas fontes pra não ficar muito caótico -e tb demorar mais pra carregar*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


body, html {
  font-family: 'Open Sans Condensed', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F8F9FA;
  color: #212529;
}

nav ul {
  border: 0px dashed blue;
  /*tirando as bolinhas de cada item*/
  list-style-type: none;
  background-color: black;
  /*aparentemente tem alguma questão com padding e margin em diferentes navegadores que faz sentido nesse caso tirar ambos*/
  padding: 0;
  margin: 0;
  /*!!!!!as próximas linhas estão fixando o menu no topo, mas por alguma razão estão impedindo o script de rodar e tirar a barra da tela-acho que o lance é esse fixed, mas tirando tb não volta pra tela, não entendi onde está o xabu https://www.w3schools.com/howto/howto_js_navbar_hide_scroll.asp!!!!*/
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  /*experimentando flexbox no menu*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}


nav li {
  border: 0px solid #CCFF33;
  /*tirei para usar flex-basis do flex box que não é tão rígido, é inteligente tendo o valor por base*/
  /*width: 20%;*/
  background-color: rgba(0, 0, 0);
  /*isso a princípio não faz sentido em elementos inline pq eles ficam do tamanho do conteúdo, a não ser que vc mude para deixarem de serem inlines*/
  text-align: center;
  /*tirei a margem para usar flixbox*/
  /*margin: 0.2rem 2rem;*/
  padding: 0;
  /*esse display faz a lista que é em blocos ficar in line porém com as propriedades do bloco (poder colocar padding e margem em todos os lados, etc), então no caso do menu fica horizontal. Se tirarmos essa linha volta a ser vertical*/
  display: inline-block;
  flex-basis: 25%;
}

nav a, .dropdown a {
  font-family: 'Open Sans Condensed', sans-serif;
  border: 0.7px solid #a8e000;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(216, 211, 211);
  /*mudar a característica do elemento de inline para block, dependendo do objetivo, nesse caso fazer o hover do link mudar todo o 'botão'*/
  display: block;
  /*como mudou para block, esse padding faz sentido, se não, não faria pq só estaria nos lados e queria em cima e embaixo*/
  padding: 0.2rem;
}

/*tentando deixar o drop down menu do mesmo tamanho que o Obras*/
.dropdown-content, .dropdown .dropdown-content a{
  display: block;
}
/*só esse bloco*/

nav a:hover {
  border: 0.7px solid  #CCFF33;
  color: rgb(255, 255, 255);
  margin: 0;
  background-color: rgb(20, 20, 20);
}

/*TENTANDO MENU QUE DESCE PARA AS OBRAS*/
/* The dropdown container */
.dropdown {
   overflow: hidden;
   margin: 0;
   padding: 0;
}

/* Dropdown button 
.dropdown .dropbtn {
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones 
  margin: 0; /* Important for vertical align on mobile phones 
}

/* Add a red background color to navbar links on hover */
/*nav a:hover {
  background-color: rgba(204, 255, 51, 0.8);
  border: 0.7px solid   rgba(204, 255, 51, 0.8);
  color: black;
}*/

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:  rgba(0,0,0,0.5);
  border: 0.7px solid #CCFF33;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #F8F9FA;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(204, 255, 51, 0.8);
  border: 0.7px solid  rgba(204, 255, 51, 0.8);
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*_______________________________*/

section h2 {
  /*caso deu xabu no googlefonts, irá usar próxima da lista, podemos colocar quais fontes quisermos na ordem que quiseremos nessa lista e browser vai tentando uma por uma em ordem*/
  font-family: 'Bebas Neue', cursive;
  /*font-family: 'Abel', sans-serif;*/
  font-size: 3rem;
  color: #343A40;
  border: 0px dashed red;
  margin: 0;
  padding: 0;
}

.direita {
  text-align: right;
}

section p {
  border: 0px dashed green;
  margin: 0;
  padding: 1rem 0;
}

#adeus-p p {
  margin: 1rem 0;
  padding: 0 3.5rem 0 0;
  margin: 2rem 2rem 0 0;
  line-height: 1.5rem;
}

#adeus-p a {
  font-size: 5rem;
}

#adeus-p .wrapper {
  flex-basis: 60%;
}

section article {
  border: 0 dashed purple;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.wrapper a {
  text-decoration: none;
}

h2 a {
  color: #343A40;
}

h2 a:hover {
  text-decoration: none;
  color: #3209B1;
}

.parallax {
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

#logo {
  background-image: url("../imagens/logogradiente.svg");
 }
#oma {
  background-image: url("../imagens/oma.gif");
 }
#hadias {
  background-image: url("../imagens/hadias.jpg");
 }
#adeus {
  background-image: url("../imagens/adeus.jpg");
}
#uvs {
  background-image: url("../imagens/uvs.jpg");
  }
#glitch1 {
  background-image: url("../imagens/uvs-glitch.jpeg");
}
#glitch2 {
  background-image: url("../imagens/uvs-glitch2.jpeg");
}
#kombi {
  background-image: url("../imagens/kombi.jpg");
}

#adeus1 {
  background-image: url("../imagens/adeus-victor1.jpg");
}
#adeus2 {
  background-image: url("../imagens/adeus-victor2.jpg");
}
#adeus3 {
  background-image: url("../imagens/adeus-victor3.jpg");
}
#adeus4 {
  background-image: url("../imagens/adeus-victor4.jpg");
}
#adeus5 {
  background-image: url("../imagens/adeus-victor5.jpg");
}

iframe {
  border: none;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 40%;
}



.obras {
  width: 80%;
  background-color: #F8F9FA;
  margin: 5rem auto;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  justify-content: space-around;
}

button {
  font-family: 'Bebas Neue', cursive;
  font-size: 1rem;
  border: 1px solid #343A40;
  margin: 1rem 0;
  padding: 0.7rem;
  background-color: #F8F9FA;
}

button:hover {
  border: 1px solid black;
}

form {
  margin: -0.5rem 3rem 0 0;
  padding: 0;
  border: 0px solid red;
}

footer, .materiais {
  padding: 1rem 0 3rem 0;
  text-align: center;
  font-size: 0.8rem;
  border-top: 0px solid #A61F11;
}

footer ul, .materiais ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  border: 0px dashed red;
  

}

footer li, .materiais li {
  display: inline-block;
  padding: 1rem;
  border: 0px dashed red;
  text-align: center;
}


/*FORMULÁRIO - tentando que seja responsivo*/


/* Style inputs, select elements and textareas 
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}*/

/* Style the label to display next to the inputs */

legend {
  display: block;
}

label {
  padding: 12px 12px 12px 0;
  display: block;
}

input:not([type="checkbox"]), textarea {
	display: block;
	margin-bottom: 2rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding: 0 1rem;
}

/* Style the submit button */
button[type=submit] {
  background-color: #212529;
  color: #F8F9FA;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}


/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}