/*outra maneira de aplicar fontes, prof do vini recomenda esse*/
/*máximo duas fontes pra não ficar muito caótico -e tb demorar mais pra carregar*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body, html {
  font-family: 'Open Sans Condensed', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}


nav ul {
  border: 0px dashed blue;
  /*tirando as bolinhas de cada item*/
  list-style-type: none;
  background-color: black;
  /*aparentemente tem alguma questão com padding e margin em diferentes navegadores que faz sentido nesse caso tirar ambos*/
  padding: 0;
  margin: 0;
  /*tentativa de deixar transparente mas não rolou, pode tirar se achar melhor*/
  z-index: 1;

  /*!!!!!as próximas linhas estão fixando o menu no topo, mas por alguma razão estão impedindo o script de rodar e tirar a barra da tela-acho que o lance é esse fixed, mas tirando tb não volta pra tela, não entendi onde está o xabu https://www.w3schools.com/howto/howto_js_navbar_hide_scroll.asp!!!!*/
  /*position: fixed;*/
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  /*experimentando flexbox no menu*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

nav li {
  border: 0px solid whitesmoke;
  /*tirei para usar flex-basis do flex box que não é tão rígido, é inteligente tendo o valor por base*/
  /*width: 20%;*/
  background-color: rgba(0, 0, 0);
  /*isso a princípio não faz sentido em elementos inline pq eles ficam do tamanho do conteúdo, a não ser que vc mude para deixarem de serem inlines*/
  text-align: center;
  /*tirei a margem para usar flixbox*/
  /*margin: 0.2rem 2rem;*/
  padding: 0;
  /*esse display faz a lista que é em blocos ficar in line porém com as propriedades do bloco (poder colocar padding e margem em todos os lados, etc), então no caso do menu fica horizontal. Se tirarmos essa linha volta a ser vertical*/
  display: inline-block;
  flex-basis: 25%;
  
}

nav a {
  font-family: 'Open Sans Condensed', sans-serif;
  border: 0.7px solid whitesmoke;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(235, 235, 235); 
  /*mudar a característica do elemento de inline para block, dependendo do objetivo, nesse caso fazer o hover do link mudar todo o 'botão'*/
  display: block;
  /*como mudou para block, esse padding faz sentido, se não, não faria pq só estaria nos lados e queria em cima e embaixo*/
  padding: 0.2rem;
}

nav a:hover{
  background-color: #CCFF33;
  border: 1.5px solid black;
  color: black;
  margin: 0;
}

#hadias, #adeus, #oma, #sobre {
  display: flex;
  flex-flow: column nowrap;
  background-color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  text-align: justify;
  justify-content: center;  
  padding: 3rem;
}

section h2 {
  /*caso deu xabu no googlefonts, irá usar próxima da lista, podemos colocar quais fontes quisermos na ordem que quiseremos nessa lista e browser vai tentando uma por uma em ordem*/
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
}

section article {
  border: 2px dotted red;
  margin:
}

section h2 {
  border: 2px dashed green;
}

.parallax-logo {
  /* The image used */
  background-image: url("../imagens/logogradiente.svg");
  /* Set a specific height */
  min-height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.parallax-oma {
  /* The image used */
  background-image: url("../imagens/oma.gif");
  /* Set a specific height */
  min-height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.parallax-hadias {
  background-image: url("../imagens/hadias.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.parallax-adeus {
  background-image: url("../imagens/adeus.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.parallax-uvs {
  background-image: url("../imagens/uvs.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}