@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body, html {
  font-family: 'Open Sans Condensed', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F8F9FA;
  color: #212529;
}

#foto1 {
  background-image: url("../imagens/hadias.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

article {
  font-size: 1.5rem;
  width: 60%;
  text-align: justify;
  border: 0px solid red;
  margin: 6rem auto;
}

dl {
  font-size: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5rem;
}

/*------GALERIA DE IMAGENS------*/


.swiper-button-prev {
  display: block;
  color: rgb(0, 29, 255);
}

.swiper-button-next {
  color: rgb(0, 29, 255);
}

.swiper-button-prev:hover {
color : #F8F9FA;

}

.swiper-button-next:hover {
  color : #F8F9FA;
}


/*------FIM DA GALERIA-----*/
